.nav_buttons {
    display: inline-block;
    padding: 15px;
    background-color: #ede5de
}

#nav {
    background-color: grey;
}

#left {
    width: 30%;
    float: left;
    background-color: #9e9f67;
    height: 1000px;
}

#right {
    width: 70%;
    float: left;
    background-color: #fec6a6;
    height: 1000px;
}

#top {
    background-color: red;
    height: 250px;
}

#bottom {
    background-color: royalblue;
    height: 750px;
}
